<div class='interactive-grid interactive-grid--{{weighting}}'>
    {{#photos}}
    <div class='image image--{{weighting}} image--{{heightWeighting}}'>
        <div class="image__inner">
            <picture>
                <source media="(min-width: 700px)" srcset="{{url}}">
                <source srcset="{{mobileUrl}}">
                <img src="{{url}}" alt="">
            </picture>
        </div>
    </div>
    {{/photos}}
    {{#caption}}
    <div class="interactive-grid__caption"><span>{{caption}}</span></div>
    {{/caption}}
    {{#caption-bold}}
    <div class="interactive-grid__caption-bold"><span>{{caption-bold}}</span></div>
    {{/caption-bold}}

</div>
