
<div class="interactive-wrapper">

	<div class="top-wrapper">    
		<div class='interactive-top-bar'>
	        <ul>
				<li><h2>A day in Afghanistan</h2></li>
				<li>
					<span>Death toll </span>
					<span class="deaths"></span>
					<span>Injured </span>
					<span class="injured"></span>
				</li>
			</ul>
	    </div>
	</div>


	<div class="bottom-wrapper">
		<div class='interactive-timeline'>
			<div class="column tline"></div>
			<div class="column int-content">
				<div class='description'>
					<svg class="locator-map"></svg>
					<h3 class='time-headline' id="headline-0"></h3>
					<p></p>
					<p class="current-deaths"></p>
					<p class="current-injured"></p>
				</div>
			</div>
		</div>
	</div>
</div>
