
<div class="interactive-wrapper">

	<div class="top-wrapper">    
		<div class='interactive-top-bar'>
	        <ul>
				<li>
					<span class="top-bar-wrapper">
						<span class="top-bar-deaths">0</span>
						<span>Death toll</span>
					</span>
					<span class="top-bar-wrapper">
						<span class="top-bar-injured">0</span>
						<span>Injured</span>
					</span>
				</li>
			</ul>
	    </div>
	</div>


	<div class="bottom-wrapper">
		<div class='interactive-timeline'>
			<div class="column tline">
				<div class="bullet-point"></div>
			</div>

			<div class="column int-content">
				<div class='int-description'>
					<svg class="locator-map"></svg>
					<h3 class='time-headline'></h3>
					<p></p>
					<p class="current-deaths"></p>
					<p class="current-injured"></p>
				</div>
			</div>

		</div>
	</div>
</div>
