
<div class="interactive-wrapper">

	<div class="top-wrapper">    
		<div class='interactive-top-bar'>
				<div>
					<span class="top-bar-wrapper">
						<span class="top-bar-deaths">0</span>
						<span>Total deaths</span>
					</span>
					<span class="top-bar-wrapper">
						<span class="top-bar-injured">0</span>
						<span>Total injured</span>
					</span>
				</div>
	    </div>
	</div>


	<div class="bottom-wrapper">
		<div class='interactive-timeline'>
			
			<div class="column tline">
				<div class="approx-time">
					<p>Approximate timings</p>
				</div>
				<div class="bullet-point"></div>
			</div>

			<div class="column int-content">
				<div class='int-description'>
					<div class="int-description-time time-label"></div>
					<svg class="locator-map" viewBox="0 0 620 220"></svg>
					<div class="counters-wrapper">
						<div class="counter">
							<p class="current-deaths"></p>
						</div>
						<div class="counter">
							<p class="current-injured"></p>
						</div>
					</div>
					<div class="content-text-wrapper">
						<h3 class='time-headline'></h3>
						<p></p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
