
<div class="interactive-wrapper">

	<div class="top-wrapper">    
		<div class='interactive-top-bar'>
	        <ul>
				<li><h2>A day in Afghanistan</h2></li>
				<li><span>Death toll</span></li>
				<li><span>Injured</span></li>
			</ul>
	    </div>
	</div>


	<div class="bottom-wrapper">
		<div class='interactive-timeline'>
			<div class="column maps"></div>
			<div class="column tline"></div>
			<div class="column int-content">
				<div class='description'>
					<svg class="locator-map"></svg>
					<h3 class='time-headline' id="headline-0">This is the headline</h3>
					<p>Small descrtion</p>
				</div>
			</div>
		</div>
	</div>
</div>
